import React from 'react';
<% props.imports.forEach(function(lineToImport) { %>
<%- lineToImport -%> <% }); %>
export default function <%= props.name %>() {
  return (
    <div className="container"> WAITING YOUR AMAZING COMPONENT</div>
  );
}
